#letter {
    display: none;
}
.container {
    background-color: aquamarine;
}
button {
    color: brown;
    border-width: 10px;
    border: 15px;
    border-color: black;
}
h1 {
    text-align: center;
    background-color: whitesmoke;
    padding: 10px;
    text-decoration: solid;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
}
#letter-add {
    position: absolute;
    right: 150px;
    width: 165px;
    height: 181px;
    
}
p {
    font-display: 10px;
}
#letter {
   background-color: burlywood;
   border-color: black;
   border-width: 20px;
   border-radius: 10px;
   border: 10px;
   padding: 15px;
}
.letter-img {
    height: 200px;
    width: 200px;
}